<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/25Watts/dev/styles/css/styles.css">
    <script defer src="../../../25Watts/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <title>25Watts</title>
</head>
<body>
    <header class="header">
        <nav class="header__navbar">
            <div class="header__navbar__logo">
                <img src="/25Watts/public/assets/img/top-logo.svg" alt="25Watts">
            </div>
            <div class="header__navbar__links">
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Product</a>
              <a href="#">Services</a>
              <a href="#contact">Contact</a>
            </div>
        </nav>
        <section class="header__section">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active button__carrusel" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class="button__carrusel"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class="button__carrusel"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="header__section__text">
                        <h1>Sed ut perspiciatis unde omnis iste natus</h1>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="header__section__text">
                        <h1>Sed ut perspiciatis unde omnis iste natus</h1>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>              
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="header__section__text">
                        <h1>Sed ut perspiciatis unde omnis iste natus</h1>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
          </div>
          <div class="header__section__button">
            <button type="button" class="button">Read more</button>
          </div>
        </section>
    </header>
    <main class="main">
        <article class="main__container1">
          <div class="main__container1__text">
              <div class="main__container1__title">
                  <h2>We Help Businesses<br>
                    <span>Grow and Innovate</span></h2>
              </div>
              <div class="main__container1__p">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
              </div>
            </div>
        </article>
        <article class="main__container2">
          <div class="main__container2__center">
            <div class="main__container2__center__content">
              <h3>Sed ut perspiciatis</h3>
              <span>Nemo Enim</span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              <div class="main__container2__center__content__silder">
                <button></button>
                <button></button>
              </div>
            </div>
          </div>
        </article>
        <article class="main__container3">
            <div class="main__container3__accordion">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Sed ut perspiciatis
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Ut enim ad minima veniam
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Sit amet, consectetur, adipisci
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </article>
        <article class="main__container4" id='contact'>
          <div class="main__container4__text">
            <h4>Get in touch <br> <span>We are hiring!</span></h4>
          </div>
          <div class="main__container4__content">
            <div class="main__container4__form">
              <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Massege</label>
                    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <div class="main__container4__form_button">
                    <button type="button" class="button">Send</button>
                </div>
              </div>
          </div> 
        </article>
    </main>
    <footer class="footer">
        <div class="footer__text">
          <p>2020 © All rights reserved.</p>
        </div>
        <div class="footer__logo">
            <img src="/25Watts/public/assets/img/footer-logo.svg" alt="25Watts">
        </div>
      </footer>

</body>
</html>