.button{
    border: none;
    text-align: center;
    background-color: $color-primary;
    color: $color-text-primary;
    width: 144px;
    height: 48px;
    font-size: 16px;
    font-family: $font-primary;
    margin-bottom:39px;
    border-radius: 25px;
    }