.main__container3{
    display: flex;
    background:url(/25Watts/public/assets/img/section4-image.png) no-repeat right;
    width: 100%;
    height: 768px;
    .main__container3__accordion{
        margin-top: 144px;
        margin-left: 101px;
        width: 669px;
    }
}
